.PokemonList {
    li {
        margin-bottom: 0.5rem;
    }

    li:hover {
        background-color: lightyellow;
        border-radius: 10px;

        cursor: pointer;
    }

    .selected {
        background-color: lightgoldenrodyellow;
        border-radius: 10px;
    }
}
